.about-banner {
    height: 223px;
    max-width: 100%;
    border-radius: 25px;
}

.about-banner_img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    border-radius: 25px;
    filter: brightness(80%)
}

/*FORMAT MOBILE*/
@media screen and (max-width: 480px) {
    .about-banner_img {
        border-radius: 10px;
    }

}